<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.zegocloud.uikit.prebuilt.call">

  <uses-permission android:name="android.permission.VIBRATE" />

  <application>
    <activity
      android:name="com.zegocloud.uikit.prebuilt.callinvite.internal.UIKitPrebuiltCallInviteActivity"
      android:exported="false" />
  </application>

</manifest>